{% extends 'blog_app/base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="h-100 p-3 bg-light border rounded-3">
      <div class="row">
        <div class="col">
          <h2>Please Login:</h2>
          <p>(Must be SuperUser, please check with the site admin)</p>
        </div>
      </div>

        {% if form.errors %}
          <p>Your username and password didn't match. Please try again!</p>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
            <div class="row">
              <div class="col-md-2">
                <label for="id_subject">User:</label>
              </div>
              <div class="col">
                {{ form.subject.errors }}
                {{ form.username }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label for="id_subject">Password:</label>
              </div>
              <div class="col">
                {{ form.subject.errors }}
                {{ form.password }}
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="hidden" name="next" value="{{next}}">
                <button class="btn btn-outline-secondary" type="submit">Login</button>
              </div>
            </div>
        </form>


    </div>
  </div>
</div>
{% endblock %}
