{% extends "blog_app/base.html" %}
{% block content %}


  {% for post in post_list %}

  <div class="container">
    <div class="row">
      <div class="col col-lg-2">
        <a href="{% url 'post_detail' pk=post.pk %}"><h3>{{ post.title }}</h3></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Created on: {{post.create_date|date:"D M Y"}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{post.approved_comments.count}}</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p> </p>
      </div>
    </div>
  </div>

  {% endfor %}

{% endblock %}
